@model CarDealership2.ViewModels.VehicleSearchVM

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vehicles</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2>Admin</h2>
            @Html.ActionLink("Add a New Vehicle", "AddVehicle", "Admin", null, null)



            <div class="container" style="padding-top: 40px; padding-bottom:40px; border: groove;">
                <div class="row">
                    <form class="form-inline">
                        <div class="form-group col-sm-3">
                            <label for="SearchTerm"> Quick Search </label>
                            <input type="text" class="form-control" style="width:150px;" placeholder="make, model, year" />
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="MinPrice"> Price </label>
                            <select class="form-control" name="MinPrice" id="MinPrice" placeholder="Min Price">
                                <option value="5000">5000</option>
                                <option value="10000">10000</option>
                                <option value="20000">20000</option>
                                <option value="30000">30000</option>
                            </select>
                        </div>

                        <div class="form-group col-sm-2">
                            @*<label for="MaxPrice"> Price </label>*@
                            <select class="form-control" name="MaxPrice" id="MaxPrice" placeholder="Min Price">
                                <option value="5000">5000</option>
                                <option value="10000">10000</option>
                                <option value="20000">20000</option>
                                <option value="30000">30000</option>
                            </select>
                        </div>

                        <div class="form-group col-sm-2">
                            <label for="MinYear"> Year </label>
                            <select class="form-control" name="MinYear" id="MinPrice">
                                <option value="2000">2000</option>
                                <option value="2005">2005</option>
                                <option value="2010">2010</option>
                                <option value="2015">2015</option>
                                <option value="2020">2020</option>
                                <option value="2025">2025</option>
                            </select>
                        </div>

                        <div class="form-group col-sm-2">
                            @*<label for="MaxPrice"> Price </label>*@
                            <select class="form-control" name="MaxYear" id="MaxPrice">
                                <option value="2000">2000</option>
                                <option value="2005">2005</option>
                                <option value="2010">2010</option>
                                <option value="2015">2015</option>
                                <option value="2020">2020</option>
                                <option value="2025">2025</option>
                            </select>
                        </div>


                    </form>
                </div>
                <div class="row">
                    <div class="col-md-3 offset-md-3">
                        <button type="submit" class="btn btn-primary" id="SearchButton">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" border: groove;">
            <div class="row">
                <form class="form-inline">
                    <div class="form-group col-sm-3">
                        <label for="BodyStyle"> Body Style:  </label>
                        <input type="text" style="width:150px;"  />

                    </div>

                    <div class="form-group col-sm-3">

                    </div>

                    <div class="form-group col-sm-3">

                    </div>

                </form>

                <form class="form-inline">
                    <div class="form-group col-sm-3">

                    </div>

                    <div class="form-group col-sm-3">

                    </div>

                    <div class="form-group col-sm-3">

                    </div>

                </form>

                <form class="form-inline">
                    <div class="form-group col-sm-3">

                    </div>

                    <div class="form-group col-sm-3">

                    </div>

                    <div class="form-group col-sm-3">

                    </div>
                
                </form>
            </div>
        </div>



    </div>
    
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
        //write js here
        //write practice filter script
        // will need document, ready funtion
        $(document).ready(function () {
            $("#SearchButton").on("click", function () {
                alert("search button clicked");
                //getthe list of vehicles and display each one
            })
            
        });//fun
    </script>
</body>
</html>
